.button {
    padding: 5px 24px;
    border-radius: 3px;
    color: white;
    outline: none;
    border: none;
}

.disabled {
    background: #004D99;
    color: #002E5C;
    opacity: 0.5;
}

.secondary {
    color: #0066CC;
    background-color: transparent;
    border:solid 1px #0066CC;
}

.default {
    background: #0066CC;
}

.red {
    background: #CC1439;
    color: white;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
